@font-face {
  font-family: 'Poppins-Bold';
  src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

.boardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}

.finalTitle {
  color: rgba(0, 0, 0, 1);
  font-family: 'Poppins-Bold';
  font-size: 3vw;
  text-align: center;
}